/* custom css rules */

body {
    margin: 2rem 2rem 2rem 4rem;
}

h1 {
    font-size: 50px;
}

text.legend {
    font-size: 13px;
}

text.y-axis {
    font-size: 14px;
}

label {
    margin-right: 1rem;
}

img {
    width: 60%;
    height: 100%;
}

#guess {
    display:none;
    font-size: 22px;
}

#first-question {
    display: none;
}

#main-visual {
    display: none;
}

#comic {
    width: 100%;
}

#first-question {
    font-size: 40px;
    text-align: center;
}

#number-input {
    width: 200px;
    line-height: 100px;
    font-size: 100px;
    text-align: center;
}

#intro {
    font-size: 22px;
}

#show-answer {
    font-size: 50px;
}

#time-data-analysis {
    margin-top: 2rem;
    margin-right: 2rem;
}

#time-data-analysis p {
    display: inline;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
